@page "/watch/{videoFile}"

<PageTitle>@(PlayerName)'s Replay</PageTitle>
@using Blazorise;
@using SosuWeb.Database

<HeadContent>
    <!-- Primary Open Graph -->
    <meta property="og:type" content="video.other">
    <meta property="og:title" content="@(PlayerName)'s Replay">
    <meta property="og:description" content="@VideoDescription">
    <meta property="og:video" content="@VideoUrl">
    <meta property="og:video:type" content="video/mp4">
    <meta property="og:video:width" content="@VideoWidth" />
    <meta property="og:video:height" content="@VideoHeight" />
    <meta property="og:url" content="@_navigation.Uri" />
    <meta property="og:image" content="@ThumbnailUri" />
</HeadContent>

<Row Class="container-fluid mt-3" Style="z-index: 1;" >
    <Column ColumnSize="ColumnSize.Is12.OnTablet.Is9.OnDesktop">
        <Video Source="@(VideoUrl)"
               Autoplay="true"
               Controls="true"
               Class="video-player"
               AutomaticallyHideControls="true"
               DoubleClickToFullscreen="true" ,
               Ratio="16:9"
               Style="width:100%; height:auto;">
        </Video>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnTablet.Is3.OnDesktop" Background="Background.Transparent">
        <Card Class="watch-card">
            <CardHeader Class="watch-card-header">
                <CardTitle Size="4">
                    <Span Class="watch-card-playername">@PlayerName</Span> at <Span Class="watch-card-mapname">@MapName</Span>
                </CardTitle>
            </CardHeader>
            <CardBody Class="watch-card-body">
                <CardText>
                    @VideoDescription
                </CardText>
                <CardText>
                    @RenderSkin
                </CardText>
            </CardBody>

        </Card>
    </Column>
</Row>

@code {
    private bool isPlaying = false;
    private bool isMuted = false;
    private string CurrentTime = "";

    [Parameter] public int VideoWidth { get; set; } = 1280;
    [Parameter] public int VideoHeight { get; set; } = 720;
    [Parameter] public string VideoDescription { get; set; } = "brrrrrrrrrrrrrrrrrrrrr";
    [Parameter] public string RenderSkin { get; set; } = string.Empty;
    [Parameter] public string VideoFile { get; set; } = string.Empty;
    [Parameter] public string VideoUrl { get; set; } = string.Empty;
    [Parameter] public string ThumbnailUri { get; set; } = string.Empty;
    [Parameter] public string PlayerName { get; set; } = string.Empty;
    [Parameter] public string MapName { get; set; } = string.Empty;

    [Inject] private DatabaseContext _databaseContext { get; set; } = default!;
    [Inject] private NavigationManager _navigation { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Span<byte> buffer = stackalloc byte[512];
        byte[] bytes = System.Text.Encoding.ASCII.GetBytes(VideoFile);
        if (!System.Buffers.Text.Base64Url.IsValid(bytes) || !System.Buffers.Text.Base64Url.TryDecodeFromUtf8(bytes, buffer, out var written))
        {
            _navigation.NavigateTo("/not-found");
            return;
        }
        string decoded = System.Text.Encoding.ASCII.GetString(buffer[..written]);

        var parts = decoded.Split('_', 2);
        if (!int.TryParse(parts[0], out var jobId))
        {
            _navigation.NavigateTo("/not-found");
            return;
        }

        var renderJob = await _databaseContext.RenderJobs.FindAsync(jobId);
        if(renderJob is null)
        {
            _navigation.NavigateTo("/not-found");
            return;
        }

        VideoWidth = renderJob.RenderSettings.VideoWidth;
        VideoHeight = renderJob.RenderSettings.VideoHeight;
        RenderSkin = renderJob.RenderSettings.SkinName;
        VideoUrl = renderJob.VideoUri;
        PlayerName = renderJob.PlayerName;
        MapName = renderJob.MapName;
        ThumbnailUri = string.IsNullOrWhiteSpace(renderJob.VideoThumbnailUri) ? _navigation.ToAbsoluteUri("img/default_thumbnail.jpg").AbsoluteUri : renderJob.VideoThumbnailUri;
    }
}